<div class="text-center">
  <form class="form-signin">
    <h1 class="h3 mb-3 font-weight-heavy">Register an account</h1>
    <p>Complete the form below and click 'Register' to create your new account, or head over to the 'Login' page to easily sign-up with Google! </p>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
    <label for="name" class="sr-only">Name</label>
    <input type="text" id="name" class="form-control" placeholder="Name" required autofocus>

    <button class="btn mb-4  btn-lg btn-primary btn-block" type="submit">Register</button>

  </form>
</div>



<!--****-->
<!--&lt;!&ndash; Form &ndash;&gt;-->
<!--<form (ngSubmit)="register()" novalidate [formGroup]="this.auth.registerForm">-->


<!--  <input [ngClass]="{-->

<!--    'is-invalid': !formControls.name.valid && formControls.name.dirty-->
<!--}" type="text" formControlName="name" class="form-control" id="list-name" placeholder="Enter a name">-->
<!--  <div [hidden]="formControls.name.valid" class="invalid-feedback">-->
<!--    Please enter your name.-->
<!--  </div>-->



<!--  &lt;!&ndash; Email address &ndash;&gt;-->

<!--  &lt;!&ndash; Input &ndash;&gt;-->
<!--  <input [ngClass]="{-->
<!--    'is-invalid': !formControls.name.valid && formControls.email.dirty-->
<!--}" type="email" formControlName="email" class="form-control" placeholder="name@address.com">-->
<!--  <div [hidden]="formControls.email.valid" class="invalid-feedback">-->
<!--    Please enter a valid email address.-->
<!--  </div>-->



<!--  &lt;!&ndash; Password &ndash;&gt;-->


<!--  <input [ngClass]="{-->

<!--    'is-invalid': !formControls.name.valid && formControls.name.dirty-->
<!--}" type="text" formControlName="name"  type="password" class="form-control form-control-appended" placeholder="Choose a password">-->



<!--  <div [hidden]="formControls.password.valid" class="invalid-feedback">-->
<!--    Please enter a new password.-->
<!--  </div>-->

<!--  </div>-->
<!--****-->
