<div class="text-center">
  <form class="form-signin" (ngSubmit)="login()" novalidate [formGroup]="this.auth.loginForm">
    <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>


  <label for="email" class="sr-only">Email address</label>
  <input id="email" [ngClass]="{
    'is-invalid': !formControls.email.valid && formControls.email.dirty
}" type="email" formControlName="email" class="form-control" placeholder="name@address.com">
  <div [hidden]="formControls.email.valid" class="invalid-feedback">
    Please enter a valid email address.
  </div>

  <label for="password" class="sr-only">Password</label>
  <input [ngClass]="{

    'is-invalid': !formControls.password.valid && formControls.password.dirty
}" formControlName="password" id="password"  type="password" class="form-control form-control-appended" placeholder="Choose a password">
  <div [hidden]="formControls.password.valid" class="invalid-feedback">
    Please enter a new password.
  </div>



  <button class="btn mb-4  btn-lg btn-primary btn-block" type="submit">Sign in</button>

  <button (click)="auth.googleSignIn()" class="btn btn-block btn-warning">
    sign in with google
  </button>
</form>
</div>


