<input type="text" (keyup)="searchCourses()" class="form-control" [(ngModel)]="searchInput">
<select class="form-control" (change)="searchCourses()" [(ngModel)]="searchComponent">
  <option value=""></option>
  <option value="LAB">LAB</option>
  <option value="TUT">TUT</option>
  <option value="LEC">LEC</option>
</select>

<select class="form-control" (change)="searchCourses()" [(ngModel)]="userInput_Subject">
  <option value=""></option>
  <option *ngFor="let subject of allSubjects()" value="{{ subject }}">{{ subject }}</option>
</select>


<!--iterates through courses pulled from db to return dynamic results w/ multiple combinations of search variables-->
  <div *ngFor="let course of filteredCourses">

    <a data-toggle="collapse" class="mb-3" href="#search-{{course.id}}" role="button">
      {{ course.name }}
      -
      {{ course.id }} {{ course.name }}
      -
      {{ course.id }}
    </a>

    <div class="collapse card" id="search-{{course.id}}">
      <div class="card-body">
      Course Description: {{ course.description }}
        <br>Course Number: {{ course.number }}
        <br>Course Time: {{ course.days }}
        <br>Course Component: {{ course.component }}
        <br>Course id: {{ course.id }}
        <br> Course Name: {{ course.name }}
        <br> Course Section: {{course.section }}
        <br> Course Status: {{ course.status }}
        <br> Subject: {{ course.subject }}

        <!-- dropdown select to choose a schedule -->
        <select  #scheduleName class="form-control">
          <option  *ngFor="let schedule of allSchedules" value="{{ schedule.$id }}">{{ schedule.name}}</option>
        </select>
        <!-- button to add a course to the schedule -->
        <button type="button" (click)="scheduleService.addCourseToSchedule(scheduleName.value, course.id)" class="btn btn-primary">Add to Schedule </button>
      </div>
    </div>


  </div>



<script src="FuzzySearch.js"></script>
